{% extends 'base.html' %}

{% block content %}
{% for msg in get_flashed_messages() %}
<div class="alert alert-danger" role="alert">
    {{ msg }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<div class="container">
    <div class="text-center">
        <form method="POST" class="form-signin">
            {{ form.hidden_tag() }}
            <br>
            <h1 class="h3 mb-3 font-weight-normal">
                Please Login
            </h1>
            <br>
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="User Name") }}

            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="Password") }}
            <br>
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        </form>
    </div>
</div>
{% endblock %}